* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Raleway', sans-serif;
}
.mainWrapper {
    max-width: 1340px;
    margin: 0 auto;
}
img {
    display: block;
}
i {
    color: #0065FC;
}
/* Header */
header {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
header img{
    height: 60px;
    margin-top: 30px;
}

nav{
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    /* align-items: ;   */
}
nav a {
    text-decoration: none;
    color: black;
    padding: 45px 15px 0;
    text-align: center;
    border-top: 3px solid transparent;
}
nav a:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}
.register {
    color: #0065FC;
    text-decoration: none;
    padding: 45px 15px 0;
    margin-left: 3%;
    text-align: center;
    border-top: 3px solid transparent;
   
}

/* Bouton Rechercher */
h1 {
    font-size: 1.3rem;
    margin: 10px 0;
}
.bouton {
    display: flex;
    margin: 35px 0;
    max-width: 450px;
}
#cities {
    flex: 1;
    border: 1px dotted #d9d9d9;
    line-height: 2;
    font-size: 1.2rem;
    padding: 0 20px;
}
.dot {
    color: black;
    text-align: center;
    min-width: 50px;
    min-height: 50px;
    background-color: #F2F2F2;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    padding: 14px 0 0;
}
.searchTxt {
    border: 1px dotted #0065FC;
   
    line-height: 2;
    padding: 0px 20px;
    font-size: 1.2rem;
    text-align: center;
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
.searchIcon {
    display: none;
}
input[type=search] {
    color: black;
    font-weight: bold;
}

/* Filtres */
.Filtrer {
    /* max-width: 900px ; */
    margin: 20px 0;
    padding: 20px 0;
    display: flex;
    justify-content:flex-start;
    align-items: center;
  
    /* flex-wrap: wrap; */
}
.Filtres {
    width: 1000px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* flex-wrap: wrap; */
    
}
.filtre .fas {
    text-align: center;
    width: 47px;
    height: 47px;
    font-size: 1.3rem;
    background-color:#DEEBFF;
    border-radius: 50%;
    padding: 14px 0 0;
    margin-left: -24px;
    position: relative;
    left: 25px;
    bottom: -1px; 
}
.filtre {
    cursor: pointer;
    margin: 1%;
}

.btn {
    border: 2px solid #e5e5e5;
    border-left-style: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 11px 15px 11px 30px;
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
}
.btn:hover {
    background-color: #DEEBFF;
}

/* Hébergements */

.ligneInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px; 
    padding: 10px 5px;
    margin: 20px 0; 
}
.ligneInfo i {
    border: 2px solid #F2F2F2;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 14px;
    text-align: center;
    padding: 5px 0;

}
#Hébergements {
    width: 100%;
    height: 70%;
  
    display: flex;
    justify-content: space-between;
    
    /* align-items: flex-start; */

}
#Hébergements a {
    text-decoration: none;
    color: black;
}

.boxHeb {
    /* max-width: 877px; */
    width: auto;

    /* height: 630px; */
    background-color: #F2F2F2;
    border-radius: 19px;
    padding: 20px;
    margin-right: 40px;
}
.boxHeb h2 {
    margin: 20px;
}

.flexbox1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.cardHeb {
    min-width: 246px;
    width: 20%;
    height: auto;
    border-radius: 19px;
    box-shadow: 0 5px 10px lightgray;
    /* margin: auto; */
    /* margin: 15px 15px; */
    margin: 1%;
    padding: 3px 3px 10px;
    background-color: white;
} 
.cardHeb img {
    border-top-left-radius: 19px ;
    border-top-right-radius: 19px;
    width: 100%;
    height: 115px;
    object-fit: cover;
}
.info {
    /* margin: 10px 20px 0 ; */
    margin-left: 5%;
    line-height: 1.5;
} 
.info .iconPop {
    padding-top: 4px ;
}
h5 {
    font-size: 1em;
    margin-top: 5px;
}
.cardHeb p {
    font-size: 0.9em;
}
.gray {
    color:#d9d9d9;
}
.more {
    font-size: 1.1em;
    margin: 0 20px;
    padding: 15px 0;
    font-weight: bold;
}

/* Populaires */
aside {
    border-radius: 19px;
    min-width: 420px;
    height: auto;
    width: 31%;
    /* height: 630px; */
    background-color: hsl(0, 0%, 95%);
    padding: 20px;
}
.titrePop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.titrePop .fas{
    color: black;
}
.flexbox2 {
    /* height: 475px; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}
.cardPop {
    background-color: white;
    border-radius: 19px;
    box-shadow: 0 5px 10px lightgray;
    padding: 3px;
    margin: 20px;
  
    min-width: 343px;
    width: 90%;
    /* height: 35%; */
    height: 134px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}
.infoPop {
    height: 130px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px 10px;
}
.iconPop {
    font-size: 13px;
    word-spacing: -0.2em;
}
.cardPop img {
    width: 37%;
    height: 100%;
    border-top-left-radius: 19px;
    border-bottom-left-radius: 19px;
    object-fit: cover;
}
.cardPop p {
    font-size: 0.9em;
    padding: 10px 0;
}

/* Activités */
#Activités {
    width: 100%;
    height: auto;
}
#Activités a {
    text-decoration: none;
    color: black;
}
#Activités h2 {
    margin-top: 30px;
    padding: 15px 0;
}
.flexbox3 {
    width: 100%;
    max-height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 40px;
}

.cardAct {
    max-width: 303px;
    width: 24%;
    margin: 1%;
    box-shadow: 0 5px 10px lightgray;
    border-radius: 19px;
    overflow: hidden;
}

#Activités img {
    object-fit: cover;
    width: 100%;
    min-width: 303px;
    /* height: auto; */
}
.img390 {
    height: 390px;
}
#img189 {
    height: 189px;
}
#img118 {
    height: 118px;
}
#img145 {
    height: 145px;
}
#img159 {
    height: 159px;
}
h4 {
    padding: 5px;
    margin: 10px;
    /* width: 303px; */
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px; 
}


/* Footer */
footer {
    background-color: #F2F2F2;  
    line-height: 2;  
}
.footerBox{
    width: 33%;
}
.footer {
    /* max-width: 70%; */
    margin-left: 50px;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

footer h5 {
    margin-bottom: 8px;
}
ul {
    list-style-type: none;
    
}


/* media queries */

@media (max-width: 991px) {
    .mainWrapper {
        max-width: 991px;
        margin: 0 50px;
    }
    .Filtrer {
        flex-direction: column;
        align-items: flex-start;
    }
    .Filtrer h3{
        padding: 20px;
    }
    .Filtres{
        width: auto;
        flex-wrap: wrap;
    }
    .boxHeb {
        padding: 20px;
    }
            
    .boxHeb h2, .more{
        text-align: center;
    }
    .cardHeb {
        width: auto;
    }

    aside {
        min-width: 350px;
        /* padding: auto; */
    }
    .cardPop {
        min-width: 300px;
        /* width: 70% ; */
        /* width: 60%; */
    }

    #Activités h2 {
        text-align: center;
    }
}


@media (max-width: 768px){
    .mainWrapper {
        max-width: 100vw;
        margin: auto;
    }
    header {
        margin: 0 4%;
        flex-wrap: wrap;
    }
    nav {
        width: 100%;
        order: 1;
    }
    nav a {
        width: 50%;
        padding: 45px 15px 20px;
        border-bottom: 3px solid transparent;
        border-top: none;
    }
    nav a:hover{
        border-bottom: 3px solid #0065FC;
        border-top: none;
    }
    
    .bouton {
        width: 100%;
    }
    .searchTxt {
        display: none;
    }
    .searchIcon {
        display: inline;
        color: white;
        background-color: #0065FC;
        min-width: 50px;
        min-height: 50px;
        padding: 14 0 0;
        border: 3px solid #0065FC;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }
    .loupe {
        color: white;
    }
    
    
    /* #Hebergements */
    .ligneInfo {
        margin: 0 4%;
    }
    #Hébergements {
        flex-direction: column-reverse;
    }
        /* Populaires */
    aside {
        width: 100%;
        border-radius: unset;
    }
    .titrePop {
        justify-content: center ;
        gap: 20px;
    }
    .cardPop {
        width: 300px;
        height: 130px;
    }
    .cardPop img {
        min-width: 115px;
    }
    h5 {
        font-size: 0.9em;
    }
    .cardPop p {
        font-size: 0.8em;
    }
    .iconPop {
        font-size: 11px;
    }
        /* Hébergements à Marseille */

    .boxHeb {
        width: 100%;
        background-color: unset;
    }    
    .flexbox1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cardHeb {
        width: 300px;
        height: 180px;     
    }
    .cardHeb img {
        min-height: 103px;
    }
    .info p{
        font-size: 0.8em ;
        line-height: 1.2;
    }
    .info .iconPop {
        padding-top: 1%;
    }
        /* #Activités */
    .flexbox3 {
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: unset;
    }
    .cardAct {
        min-width: 300px;
        width: 70%;
        height: 170px; 
        margin: 2%;
    }
    .img390, #img189, #img118, #img145, #img159 {
        min-height: 102px;
        height: 70%
    }  
    
        /* Footer */
    .footer {
        max-width: unset;
        flex-direction: column;
        gap: 20px;
    }
    .footer li {
        font-size: 15px;
    }
}