* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Raleway', sans-serif;
}
.mainWrapper {
    max-width: 1340px;
    margin: 0 auto;
    /* padding: 0 40px; */

}
img {
    display: block;
}
i {
    color: #0065FC;
}
/* Header */
header {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
header img{
    height: 60px;
    margin-top: 30px;
}

nav{
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
}
nav a {
    text-decoration: none;
    color: black;
    padding: 45px 15px 0;
    text-align: center;
    border-top: 3px solid transparent;
}
nav a:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}
.register {
    color: #0065FC;
    text-decoration: none;
    padding: 45px 15px 0;
    margin-left: 3%;
    text-align: center;
    border-top: 3px solid transparent;
   
}

/* Bouton Rechercher */
h1 {
    font-size: 24px;
    margin: 25px 0 15px 0;
}
.bouton {
    display: flex;
    margin: 25px 0;
}
#cities {

    border: 1px dotted #d9d9d9;
    line-height: 2;
    font-size: 1.1rem;
    padding: 0 15px;
    color: black;
    font-weight: bold;
}
.dot {
    color: black;
    text-align: center;
    min-width: 50px;
    min-height: 50px;
    background-color: #F2F2F2;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    padding: 14px 0 0;
}
.searchTxt {
    border: 1px dotted #0065FC;
   
    line-height: 2;
    padding: 0px 15px;
    font-size: 1.1em;
    text-align: center;
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
.searchIcon {
    display: none;
}

/* Filtres */
.Filtrer {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    /* gap: 20px; */
}
.Filtrer h3 {
    margin-right: 20px;
}
.Filtres {
    width: 1200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;  
}
.filtre .fas {
    text-align: center;
    width: 47px;
    height: 47px;
    font-size: 1.3rem;
    background-color:#DEEBFF;
    border-radius: 50%;
    padding: 14px 0 0;
    margin-left: -24px;
    position: relative;
    left: 25px;
    bottom: -1px; 
}
.filtre {
    cursor: pointer;
    margin: 1%;
}

.btn {
    border: 2px solid #e5e5e5;
    border-left-style: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 11px 15px 11px 30px;
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
}
.filtre:hover>.btn {
    background-color: #DEEBFF;
    border-color: #DEEBFF;
}

/* Hébergements */

.ligneInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px; 
    padding: 10px 5px;
    margin: 20px 0; 
}
.ligneInfo i {
    border: 2px solid #F2F2F2;
    min-width: 30px;
    min-height: 30px;
    border-radius: 100%;
    font-size: 14px;
    text-align: center;
    padding: 5px 0;

}
#Hébergements {
    width: 100%;
    height: 70%;
  
    display: flex;
    justify-content: space-between;

}
#Hébergements a {
    text-decoration: none;
    color: black;
}

.boxHeb {
    width: auto;
    background-color: #F2F2F2;
    border-radius: 19px;
    padding: 20px;
    margin-right: 2%;
}
.boxHeb h2 {
    margin: 20px;
}

.flexbox1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.cardHeb {
    min-width: 246px;
    /* width: 20%; */
    height: auto;
    border-radius: 19px;
    box-shadow: 0 5px 10px lightgray;
    margin: 15px;
    padding: 3px 3px 10px;
    background-color: white;
    flex: 1 1 20%;
} 
.cardHeb img {
    border-top-left-radius: 19px ;
    border-top-right-radius: 19px;
    width: 100%;
    height: 115px;
    object-fit: cover;
}
.info {
    margin-left: 5%;
    line-height: 1.5;
} 
.info .iconPop {
    padding-top: 4px ;
}
h5 {
    font-size: 1em;
    margin-top: 5px;
}
.cardHeb p {
    font-size: 0.9em;
}
.gray {
    color:#d9d9d9;
}
.more {
    font-size: 1.1em;
    margin: 0 20px;
    padding: 15px 0;
    font-weight: bold;
}

/* Populaires */
aside {
    border-radius: 19px;
    min-width: 420px;
    height: auto;
    width: 31%;
    background-color: hsl(0, 0%, 95%);
    padding: 20px;
}
.titrePop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.titrePop .fas{
    color: black;
}
.flexbox2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}
.cardPop {
    background-color: white;
    border-radius: 19px;
    box-shadow: 0 5px 10px lightgray;
    padding: 3px;
    margin: 20px;
    min-width: 343px;
    width: 90%;
    height: 134px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}
.infoPop {
    height: 130px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px 10px;
}
.iconPop {
    font-size: 13px;
    word-spacing: -0.2em;
}
.cardPop img {
    width: 128px;
    min-width: 128px;
    height: 100%;
    border-top-left-radius: 19px;
    border-bottom-left-radius: 19px;
    object-fit: cover;
}
.cardPop p {
    font-size: 0.9em;
    padding: 10px 0;
}

/* Activités */
#Activités {
    min-width: 100%;
    height: auto;
}
#Activités a {
    text-decoration: none;
    color: black;
}
#Activités h2 {
    margin: 20px;
}
.flexbox3 {
    min-width: 100%;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 40px;
}

.cardAct {
    max-width: 303px;
    width: 23%;
    margin: 1%;
    box-shadow: 0 5px 10px lightgray;
    border-radius: 19px;
    overflow: hidden;
}

#Activités img {
    object-fit: cover;
    width: 100%;
    min-width: 303px;
}
.img390 {
    height: 390px;
}
#img189 {
    height: 189px;
}
#img118 {
    height: 118px;
}
#img145 {
    height: 145px;
}
#img159 {
    height: 159px;
}
h4 {
    padding: 5px;
    margin: 10px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px; 
}


/* Footer */
footer {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #F2F2F2;  
    line-height: 2; 
    
   
     
}
.footer {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 60px;
}
.footerBox{
    width: 33%;
}

footer h5 {
    margin-bottom: 8px;
}
ul {
    list-style-type: none; 
}


/* media queries */
@media (max-width: 1380px){
    .mainWrapper{
        /* max-width: 1440px; */
        margin: 0 50px;
    }    
}

@media (max-width: 992px) {
    .mainWrapper {
        max-width: 991px;
        margin: 0 20px;
    }
    .Filtrer {
        flex-direction: column;
        align-items: flex-start;
    }
    .Filtrer h3{
        margin: 0 0 15px;
    }
    .Filtres{
        width: auto;
        flex-wrap: wrap;
    }
    
    .cardHeb {
        min-width: 300px;
        /* width: 80%; */
    }

    aside {
        min-width: 350px;
    }
    .cardPop {
        min-width: 300px;
    }
}


@media (max-width: 768px){
    .mainWrapper {
        margin: 0;
    }
    header {
        margin: 0 20px;
        flex-wrap: wrap;
        width: 95%;
    }
    nav {
        width: 100%;
        order: 1;
    }
    nav a {
        width: 50%;
        padding: 45px 15px 15px;
        border-bottom: 3px solid transparent;
        border-top: none;
    }
    nav a:hover{
        border-bottom: 3px solid #0065FC;
        border-top: none;
    }
    
    .Recherche {
        margin-left: 20px;
    }
    .searchTxt {
        display: none;
    }
    .searchIcon {
        display: inline;
        background-color: #0065FC;
        min-width: 50px;
        min-height: 50px;
        padding: 14 0 0;
        border: 3px solid #0065FC;
        border-radius: 16px;
        position: relative;
        right: 10px;
        
    }
    .loupe {
        color: white;
    }
    
    
    /* #Hebergements */
   
    #Hébergements {
        flex-direction: column-reverse;
    }
    h2 {
        font-size: 22px;
    }
        /* Populaires */
    aside {
        width: 100%;
        border-radius: unset;
    }
    .cardPop {
        min-width: 335px;
        width : 70%;
        height: 145px;
        justify-content: flex-start;
    }
    /* .cardPop img {
        width: 128px;
    } */
   /* Hebergements */
    .boxHeb {
        width: 100%;
        background-color: unset;
        /* padding: 0; */
    }  
    
    .flexbox1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cardHeb {
        min-width: 335px;
        width: 70%;
        height: 196px;  
        flex: none;
        margin: 15px 0; 
    }
    .cardHeb img {
        min-height: 115px;
        object-position:right;
    }
    
        /* #Activités */
    #Activités {
        padding: 20px;
    }    
    .flexbox3 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        height: auto;

    }
    .cardAct {
        min-width: 335px;
        width: 70%;
        height: 191px; 
        margin: 2%;
        max-width: none;
    }

    #img145 {
        height: 134px;
        object-position:top;
    }  
    #img189, .img390, #img159 {
        height: 134px;
    }
        /* Footer */
    .footer {
        min-width: 335px;
        padding: 30px 20px;
        flex-direction: column;
        gap: 20px;
    }
    
    .footerBox {
        width: auto;
    }
    .footer li {
        font-size: 15px;
    }
}